<div class="my-form">
  <h1>
    Registation page
  </h1>

  <div class="columns">
    <div class="column col-9 col-sm-12">
      <form class="form-horizontal" action="#forms">
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="input-example-4">First Name:</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="input-example-4" type="text" name="FirstName" [(ngModel)]="userCred.fName">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="input-example-2">Last Name:</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="input-example-2" type="text" name="EmailID" [(ngModel)]="userCred.eMail" >
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="input-example-3">Email ID:</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="input-example-3" type="text" name="EmailID" [(ngModel)]="userCred.eMail" >
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="input-example-5">Password</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="input-example-5" type="password" name="Password" [(ngModel)]="userCred.Pswrd" >
          </div>
        </div>
        <div class="form-group">
          <div class="col-3">
            <label class="form-label" for="input-example-6">Confirm Password:</label>
          </div>
          <div class="col-9">
            <input class="form-input" id="input-example-6" type="password" name="cPassword" [(ngModel)]="userCred.cPswrd" >
          </div>
        </div>
        <div class="form-group">
          <button  class="btn" (click)="Registered();">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

