<h1>
  Forgot Password
</h1>

<h5>
  Enter Email ID or Phone Number
</h5>
<input type="text" name="ID"[ngModel]="email">
<h5>Answer security questions?</h5>
<button>Show questions</button>
<h5>You would like a confirmation code to be sent to your email or phone?</h5>
<button (click)="Em();">Email</button>
<button (click)="Num();">Phone</button>
<h5>Enter the code here </h5>
<input type="text" name="confirmCode"[ngModel]="code">
<h5>Enter New password</h5>
<input type="password" name="newPassword" [(ngModel)]="nPswrd">
<h5>confirm New password</h5>
<input type="password" name="cnewPassword" [(ngModel)]="cnPswrd"><br><br>
<button (click)="LogIn;">
  Login Now
</button>

